[project]
	description = Processamento de Video
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gustavo Dantas Hidalgo (gusdantas)
[access "refs/for/refs/*"]
	read = group user/Gustavo Dantas Hidalgo (gusdantas)
	push = group user/Gustavo Dantas Hidalgo (gusdantas)
	label-Code-Review = -2..+2 group user/Gustavo Dantas Hidalgo (gusdantas)
	label-Verified = -1..+1 group user/Gustavo Dantas Hidalgo (gusdantas)
	rebase = group user/Gustavo Dantas Hidalgo (gusdantas)
	removeReviewer = group user/Gustavo Dantas Hidalgo (gusdantas)
	submit = group user/Gustavo Dantas Hidalgo (gusdantas)
[access "refs/heads/*"]
	read = group user/Gustavo Dantas Hidalgo (gusdantas)
	create = group user/Gustavo Dantas Hidalgo (gusdantas)
	push = +force group user/Gustavo Dantas Hidalgo (gusdantas)
	pushMerge = group user/Gustavo Dantas Hidalgo (gusdantas)
[access "refs/tags/*"]
	push = group user/Gustavo Dantas Hidalgo (gusdantas)
	push = +force group user/Gustavo Dantas Hidalgo (gusdantas)
